<div class="wrapper">

<div class="side-bar">
<%= render "side_bar" %>
<div class="sidebar-header">
</div>
<div class="rooms">
</div>
</div>

<div class="main-chat">
<%= render "main_chat" %>
<div class="chat-header">
</div>
<div class="messages">
</div>
<div class="form">
</div>
</div>