.wrapper{
  display: flex;
}

.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  text-decoration: none;
  color: #FAFAFA;
  font-size: 16px;
}

.create-room a{
  text-decoration: none;
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
}

.room {
  padding: 20px 20px 40px;
}

.room-name a{
  text-decoration: none;
  color: white;
}

.main-chat{
  background-color: #FFFFFF;
  width: calc(100vw - 300px );
  height: 100vh;
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}


.header-button{
  padding: 40px;
}

.header-button a{
  text-decoration: none;
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
}


.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message{
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.user-name{
  font-size: 16px;
  color: #434A54;
}

.message-date{
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.lower-message{
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 14px;
  color: #434A54;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input{
  background-color: white;
  width: 100%;
  display: flex;
}

.form-message{
  padding-left: 10px;
  border: none;
  height: 50px;
  width: 100%;
}

.form-button{
  background-color: #38AEF0;
  color: white;
  font-size: 16px;
  margin-left: 15px;
  border: none;
  padding: 0 20px;
  height: 50px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none
}